@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-primario: #4b2e1e;
  --color-secundario: #dcc5a1;
  --fondo-claro: #f6f1e7;
  --resaltado-calido: #b57a4b;
  --texto-base: #2b1b12;
}

.in {
  display: flow-root;
  margin-left: 5px;
  padding: 5px;
}

.image {
  float: right;

  width: 90px;
}
.p-2 {
  padding: 0 !important;
}
.menu {
  gap: 0.5rem;
}
main {
  background-color: var(--color-secundario);
}

h1 {
  font-family: "Playfair Display", system-ui;
  font-size: 26px;
  color: var(--texto-base);
}

.le {
  font-family: "Playfair Display", system-ui;
  font-size: 26px;
  color: var(--texto-base);
  margin-top: 20px;
  margin-bottom: 20px;
}

.ice {
  margin-top: 35px;
  margin-bottom: 0;
}

.re {
  background-color: #b57a4b;
  padding: 15px;
  margin-top: 35px;
  margin-bottom: 35px;
}
.fresh {
  margin-top: 20px;
  margin-bottom: 0;
}
.viv {
  font-family: "Playfair Display", system-ui;
  font-size: 16px;

  color: var(--texto-base);
}

h5 {
  font-size: 15px;
}

.buy {
  background-color: var(--resaltado-calido);
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.buy:hover {
  background-color: var(--color-primario);
}

#carouselExampleCaptions {
  margin: 20px;
}

#carouselExample .carousel-inner {
  max-height: 800px; /* Limita la altura máxima del contenedor del carrusel */
  overflow: hidden; /* Oculta cualquier contenido que sobresalga */
}

#carouselExample .carousel-inner img {
  max-height: 100px; /* Limita la altura máxima de cada imagen */
  width: auto; /* Ajusta el ancho proporcionalmente */
  margin: 0 auto; /* Centra la imagen */
  object-fit: contain; /* Mantiene la proporción, sin recortes ni distorsión */
  display: block; /* Para que el margen funcione correctamente */
}

#carouselExample {
  max-width: 900px;
  margin: 30px auto;
  border: 8px solid #f6f1e7;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

/* Cambia color de los íconos de control a negro */
#carouselExample .carousel-control-prev-icon,
#carouselExample .carousel-control-next-icon {
  background-color: black !important;
  mask-image: none !important; /* Quita la máscara predeterminada para que el fondo negro sea visible */
  -webkit-mask-image: none !important;
  width: 40px;
  height: 40px;
  opacity: 0.8; /* transparencia */
  border-radius: 50%; /* para que sean circulares */
}

#carouselExample .carousel-control-prev {
  left: 40px;
  width: 40px;
}

#carouselExample .carousel-control-next {
  right: 40px;
  width: 40px;
}

#carouselExampleCaptions {
  max-width: 900px;
  margin: 20px 15px;
  border: 8px solid #f6f1e7;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(34, 5, 5, 0.2);
  position: relative;
  z-index: 1; /* RECUERDA ESTO */
}

#carouselExampleCaptions .carousel-item img {
  object-fit: cover;
  height: 350px;
  width: 100%;
  display: block;
  position: relative;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 10px;
}

/* 2do carrusel */

#carrusel2 {
  max-width: 900px;
  margin: 20px 15px;
  border: 8px solid #f6f1e7;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(34, 5, 5, 0.2);
  position: relative;
  z-index: 1; /* RECUERDA ESTO */
}

#carrusel2 .carousel-item img {
  object-fit: cover;
  height: 400px;
  width: 100%;
  display: block;
  position: relative;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 10px;
}

.carousel-caption {
  /* Añade un fondo semitransparente para que el texto sea más legible */
  background-color: rgba(0, 0, 0, 0.4);
  /* Aplica el efecto de "cristal" o "frosted glass" */
  backdrop-filter: blur(5px);
  /* Asegura que el fondo abarque todo el ancho del caption */
  width: 26%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px 0;
  box-sizing: border-box; /* Para que el padding no añada ancho extra */
}

/* 3er carrusel */

#carrusel3 {
  max-width: 800px;
  margin: 20px 15px;
  border: 8px solid #f6f1e7;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(34, 5, 5, 0.2);
  position: relative;
  z-index: 1; /* RECUERDA ESTO */
}

#carrusel3 .carousel-item img {
  object-fit: cover;
  height: 300px;
  width: 100%;
  display: block;
  position: relative;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 10px;
}

/* 4to carrusel */

#carrusel4 {
  max-width: 900px;
  margin: 0 15px;

  border: 8px solid #f6f1e7;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(34, 5, 5, 0.2);
  position: relative;
  z-index: 1; /* RECUERDA ESTO */
}

#carrusel4 .carousel-item img {
  object-fit: cover;
  height: 300px;
  width: 100%;
  display: block;
  position: relative;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 10px;
}

.carousel-caption {
  /* Añade un fondo semitransparente para que el texto sea más legible */
  background-color: rgba(0, 0, 0, 0.4);
  /* Aplica el efecto de "cristal" o "frosted glass" */
  backdrop-filter: blur(5px);
  /* Asegura que el fondo abarque todo el ancho del caption */
  width: 26%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px 0;
  box-sizing: border-box; /* Para que el padding no añada ancho extra */
}
a {
  color: black; /* Cambia el color del texto a negro */
  text-decoration: none; /* Elimina el subrayado */
}

@media only screen and (min-width: 768px) {
  h1 {
    font-family: "Playfair Display", system-ui;
    font-size: 55px;

    color: var(--texto-base);
  }

  .le {
    font-family: "Playfair Display", system-ui;
    font-size: 35px;
    color: var(--texto-base);
  }

  .viv {
    font-family: "Playfair Display", system-ui;
    font-size: 20px;
    color: var(--texto-base);
  }

  h5 {
    font-size: 15px;
  }

  #carouselExampleCaptions {
    margin: 30px;
  }

  #carouselExample .carousel-inner {
    max-height: 768px; /* Limita la altura máxima del contenedor del carrusel */
    overflow: hidden; /* Oculta cualquier contenido que sobresalga */
  }

  #carouselExample .carousel-inner img {
    max-height: 760px; /* Limita la altura máxima de cada imagen */
    width: auto; /* Ajusta el ancho proporcionalmente */
    margin: 0 auto; /* Centra la imagen */
    object-fit: contain; /* Mantiene la proporción, sin recortes ni distorsión */
    display: block; /* Para que el margen funcione correctamente */
  }

  #carousel2 .carousel-inner img {
    max-height: 730px; /* Limita la altura máxima de cada imagen */
    width: auto; /* Ajusta el ancho proporcionalmente */
    margin: 0 auto; /* Centra la imagen */
    object-fit: contain; /* Mantiene la proporción, sin recortes ni distorsión */
    display: block; /* Para que el margen funcione correctamente */
  }

  #carrusel2 .carousel-item img {
    object-fit: cover;
    height: 500px;
    width: 100%;
    display: block;
    position: relative;
  }

  #carrusel3 .carousel-inner {
    max-height: 768px; /* Limita la altura máxima del contenedor del carrusel */
    overflow: hidden; /* Oculta cualquier contenido que sobresalga */
  }

  #carrusel3 .carousel-inner img {
    max-height: 768px; /* Limita la altura máxima de cada imagen */
    width: auto; /* Ajusta el ancho proporcionalmente */
    margin: 0 auto; /* Centra la imagen */
    object-fit: contain; /* Mantiene la proporción, sin recortes ni distorsión */
    display: block; /* Para que el margen funcione correctamente */
  }

  #carrusel3 .carousel-item img {
    object-fit: cover;
    height: 500px;
    width: 100%;
    display: block;
    position: relative;
  }

  #carrusel4 .carousel-inner {
    max-height: 768px; /* Limita la altura máxima del contenedor del carrusel */
    overflow: hidden; /* Oculta cualquier contenido que sobresalga */
  }

  #carrusel4 .carousel-item img {
    object-fit: cover;
    height: 400px; /* La altura contenedor */

    width: 100%;
    display: block;
    position: relative;
  }

  #carrusel4 .carousel-inner img {
    max-height: 600px; /* Limita la altura máxima de cada imagen */
    width: auto; /* Ajusta el ancho proporcionalmente */
    margin: 0 auto; /* Centra la imagen */
    object-fit: contain; /* Mantiene la proporción, sin recortes ni distorsión */
    display: block; /* Para que el margen funcione correctamente */
  }

  #carrusel4 .carousel-inner {
    max-height: 600px; /* Ajusta este valor si necesitas más o menos altura */
    overflow: hidden;
  }

  #carrusel4 .carousel-item img {
    width: 100%; /* La imagen ocupa el 100% del ancho */ /* Que lindo es que el ancho tenga prioridad */
    object-fit: cover; /* Recorta la imagen para que siempre cubra el espacio */
  }

  #carrusel4 {
    max-width: 900px;
    margin: 15px auto;

    border: 8px solid #f6f1e7;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(34, 5, 5, 0.2);
    position: relative;
    z-index: 1; /* RECUERDA ESTO */
  }

  #carouselExampleCaptions .carousel-item img {
    object-fit: cover;
    height: 650px;
    width: 100%;
    display: block;
    position: relative;
  }
}

@media only screen and (min-width: 1000px) {
  h1 {
    font-family: "Playfair Display", system-ui;
    font-size: 55px;
    color: var(--texto-base);
  }

  .le {
    font-family: "Playfair Display", system-ui;
    font-size: 40px;
    color: var(--texto-base);
    margin-bottom: 20px;
  }

  .viv {
    font-family: "Playfair Display", system-ui;
    font-size: 25px;
    color: var(--texto-base);
  }

  h5 {
    font-size: 15px;
  }

  /* Agrupa los carruseles en filas de dos columnas */
  .drink {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 30px;
    align-items: start;
    justify-items: center;
  }

  /* Los Subtítulos arriba de cada carrusel */
  .carrusel-item {
    width: 100%;
    max-width: 900px;
  }

  /* Para que los títulos de temporada ocupen las dos columnas y no se vea feito */
  .temporadas-title {
    grid-column: 1 / -1;
    margin-bottom: 0;
  }

  /* Agrupa los carruseles de otoño y verano para que estén en la misma fila */
  .carrusel-item:nth-child(5), /* Bebidas de otoño */
  .carrusel-item:nth-child(7)  /* Bebidas de verano */ {
    margin-top: 0;
  }

  /* Centrar los carruseles */
  #carouselExampleCaptions,
  #carrusel2,
  #carrusel3,
  #carrusel4 {
    margin: 0 40px;
    margin-bottom: 40px;
  }

  /* tamaño de los carruseles */
  #carouselExampleCaptions .carousel-item img,
  #carrusel2 .carousel-item img,
  #carrusel3 .carousel-item img,
  #carrusel4 .carousel-item img {
    object-fit: cover;
    height: 400px;
    width: 350px;
    display: block;
    position: relative;
  }
  header {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .menu {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .search-cart-container {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  a {
    color: black; /* Cambia el color del texto a negro */
    text-decoration: none; /* Elimina el subrayado */
  }
}

/* Resultados de búsqueda */
#searchResults {
  background: var(--fondo-claro);
  border: 2px solid var(--color-secundario);
  border-radius: 10px;
  margin: 20px auto;
  padding: 15px;
  max-width: 600px;
  display: none; /* Oculto por defecto */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

#resultsTitle {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--texto-base);
  text-align: center;
}

#resultsContainer .result-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  margin-bottom: 8px;
  border-bottom: 1px solid #ddd;
}

#resultsContainer .result-item:last-child {
  border-bottom: none;
}

#resultsContainer .result-item h5 {
  font-size: 16px;
  margin: 0;
  color: var(--color-primario);
}

#resultsContainer .result-item p {
  font-size: 14px;
  margin: 0;
  color: #666;
}

#resultsContainer .price {
  font-weight: bold;
  color: var(--resaltado-calido);
}

#resultsContainer .no-results {
  text-align: center;
  color: #888;
  font-style: italic;
}
