@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #4b2e1e;
  --secondary-color: #dcc5a1;
  --light-bg: #f6f1e7;
  --warm-highlight: #b57a4b;
  --base-text: #2b1b12;
}

/* Celulares */

.about-us-section {
  background-color: var(--secondary-color);
}

/* Sobre el logo */

.in {
  display: flow-root;
  margin-left: 5px;
  padding: 5px;
}

.image {
  float: right;

  width: 90px;
}

/* Fin del logo */

.about-us-info h1 {
  font-family: "Playfair Display", system-ui;
  font-size: 1.625rem;
  color: var(--base-text);
}

.about-us-info p {
  font-family: "Lato", system-ui;
  font-size: 1rem;
  color: var(--primary-color);
}

.team-cards .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.team-cards .card:hover {
  transform: translateY(-5px);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.team-cards h5 {
  font-family: "Merriweather Sans", system-ui;
  font-size: 1.25rem;
  color: var(--base-text);
}
.team-cards p {
  font-family: "Roboto", system-ui;
  font-size: 0.875rem;
}

@media only screen and (min-width: 576px) {
  .about-us-info h1 {
    font-size: 2.5rem;
  }
  .about-us-info p {
    font-size: 1.25rem;
  }

  .cards h5 {
    font-size: 26px;
  }

  .cards p {
    font-size: 18px;
  }
}

/* Computadoras */
@media only screen and (min-width: 992px) {
  .cafe-aroma-info h1 {
    font-size: 60px;
  }

  .cafe-aroma-info p {
    font-size: 24px;
  }

  .cards h5 {
    font-size: 32px;
  }

  .cards p {
    font-size: 20px;
  }
}
